<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>       
<cors enabled="true">
      <add origin="*" />
    </cors>
<httpProtocol>
        <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
            <add name="Access-Control-Allow-Headers" value="Content-Type, soapaction" />
        </customHeaders>
    </httpProtocol>
    </system.webServer>
</configuration>
